body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    display: flex;
    width: 70vw;
}

#input, #response {
    font-family: monospace;
    width: 30vw;
    height: 40vh;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    overflow: scroll;
    overflow-x: hidden;
}

#instruction {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submitButton {
    margin-top: 5vh;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clearButton {
    position: absolute;
    right: 2vw;
    bottom: 2vw;
}

.changes {
    color: red;
}

#loader {
    position: absolute;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    animation: spin 2s linear infinite;
}

#cancelButton {
    position: absolute;
    display: block;
    background-color: black;
    height: 40px;
    width: 40px;
    color: white;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3vh;
}

.vf {
    display: flex;
    flex-direction: column;
}

.dn {
    display: none;
}

p {
    margin: 0;
}